doctype html 
html 
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Login page
    body 
        section.login-section 
            //- - const flashNotification = `${userStatus ? userStatus : succesfullRegistration ? succesfullRegistration : ""}`
            p.login-section_notification #{loginStatusMessage}
            form.login-section_form(action="/login" method="POST")
                input.login-section_email(name="email" type="email" placeholder="Email" required)
                input.login-section_password(name="password", type="password" placeholder="Password" required)
                button.login-section_submit(type="submit") Sign in
        p Don't have an account, please 
            a(href="/register") Sign up